main img, .exhibition_div img {
    width: 100%;
    height: 514px;
    object-fit: cover;
}

article {
    padding: 50px 0 50px 100px;
    width: 650px;
}
.discover_text h1, h2 {
    color: white;
}

.exhibition_text h1,
.exhibition_text h2 {
    color: black;
    padding-left: 10%;
}

.event_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.visit_booking {
    background-color: #FF7F3E;
    color: white;
    margin: 50px;
    padding: 10px;
}

.exhibition_div article {
    width: 90%;
}

.why-its-amazing img {
    width: 50%;
}

.why-its-amazing {
    display: flex;
    flex-wrap: wrap;
}
