@media (max-width: 768px) {

header h1 {
    font-size: 25px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

/*Home Page*/
.discover_text h1 {
    font-size: 25px;
}

.discover_text {
    top: 10rem;
}
.exhibition article {
    justify-content: left;
}

.exhibition {
    height: auto;
}

.exhibition img {
    width: 287px;
    height: 361px;
}

article {
    padding: 50px 0 50px 50px;
}

.home_info img {
    width: 450px;
    height: 300px;
    object-fit: cover;
}


/* Visit Us */

main img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.visit_info h1 {
    padding: 50px 0 50px 200px;
}

main h2, h3, p { 
    width: 100%;
}

.visit_booking {
    width: 270px;
    height: 170px;
}

.who-we-are img , .support-us img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.who-we-are h2 {
    text-align: center;
    padding: 50px 0px 25px 0;
}

.who-we-are_info {
    padding: 0 10px 0 10px;
}

.support-us h2 {
    padding: 50px 0px 5px 0;
}

.support-us_content {
    padding:  0 10px 0 10px;
}

.support-us_content img {
    padding-top: 25px;
}

/* Contact Us */

.contact-us h1 {
    padding: 50px 0 50px 175px;
}

main h2 {
    padding-left: 0px;
}

.inputs {
    padding: 0 0 100px 75px;
}

/* Our History */

.our-history h1 {
    padding: 50px 0 50px 150px;
}

.our-history h3 {
    padding-left: 0px;
}

.how-it-started_content p {
    padding: 0 10px;
    width: auto;
}

.how-it-started_content img {
    padding: 20px 0 0 0;
}

.our-history_nav p {
    padding: 10px 10px;
}

.why-are-we-here {
    height: 300px;
}

/* Exhibition Pages */

.exhibition_main h1 {
    padding: 50px 0 50px 170px;
}

.exhibition_main h2, .exhibition_main h3 {
    padding: 0px 0px 20px 0px;
    width: auto;
}

.current img {
    width: 480px;
}

.discover {
    padding: 50px 0 100px 10px;
    width: auto;
}

;
}