@media (max-width: 768px) {


    /*Home Page*/

.discover_text {    
    top: 16rem;
}

.discover_text h1 {
    font-size: 25px ;
}

main h2 {
    text-align: center;
}

.exhibition-content {
    flex-direction: column;
    height: 100%;
}

/* Visit Us */

/* Contact Us */

h1 {
    padding-left: 100px;
    font-size: 25px;
}

}