@media (max-width: 768px) {


    /*Home Page*/
main h2 {
    text-align: center;
}

.exhibition-content {
    flex-direction: column;
    height: 100%;
}

/* Visit Us */

/* Contact Us */

h1 {
    padding-left: 100px;
    font-size: 25px;
}

}