@import "import/media.css";

@font-face {
    font-family: "Irish Grover";
    src: url("../fonts/IrishGrover-Regular.woff") format("truetype");
}

h1, h2, h3 {
    font-family: "Irish Grover";
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

header {
    background-color: #4335A7;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid white;
    transition: border-color 0.3s ease;
}

header h1 {
    font-size: 35px;
}

.nav-header {    
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}

.log:hover {
    scale: 1;
}

.profile {
    padding-top: 35px;
}


.burguer-btn,
.dropdown-links {
    display: none;
}

.discover img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.discover h1 {
    color: black;
}

.discover_text {
    width: 80%;
    padding-left: 5%;
}

.exhibition article {
    padding-left: 5%;
    padding: 30px 0px 30px 5%;
}

.exhibition img {
    width: 350px;
    height: 440px;
    object-fit: cover;
}

.exhibition img:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.exhibition-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.exhibition-content p {
    width: 300px;
}

.home_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0 50px 0;
}

.home_info img:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.home_info img {
    width: 500px;
    height: 350px;
    object-fit: cover;
}

.home_info p{
    width: 350px;
}

footer {
    background-color: #4335A7;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    height: 212px;
    padding-top: 150px;
}

footer h1 {
    padding-left: 100px;
}

footer nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px 100px 0 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.cta {
    width: 90px;
}

.cta_img:hover {
    transform: scale(1.2);
}

.cta_book {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    text-decoration: none;
}

.cta_book:hover {
    background-color: white;
    color: black;
    transition-duration: 0.6s;
}
