main img {
    width: 100%;
    height: 588px;
    object-fit: cover;
}

main h1 {
    background-color: #FF7F3E;
    color: white;
    padding: 50px 0 50px 250px;
}

main h2, h3, p { 
    width: 751px;
}

main {
    height: 1463px;
}

.visit_booking {
    background-color: #FF7F3E;
    color: white;
    margin: 50px;
    width: 390px;
    height: 280px;
    padding: 10px;
}

.visit_booking a {
    text-align: center;
}

.visit_content {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px 0 100px 0;
}

.who-we-are {
    background-color: #EE66A6;
    height: 825px;
}

.who-we-are h2 {
    text-align: center;
    padding: 50px 0px 50px 0;
}

.who-we-are img {
    width: 392px;
    height: 451px;
    object-fit: cover;
}

.who-we-are_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.support-us {
    background-color: #8ED4B6;
    height: 825px;
}

.support-us h2 {
    text-align: center;
    padding: 50px 0px 50px 0;
}

.support-us img {
    width: 392px;
    height: 451px;
    object-fit: cover;
}

.support-us_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

